:root {
  /* Primary */
  --color-red: #ff7a7a;
  --color-green: #38cc8c;

  /* Accent */
  --color-blue: #6055a5;

  /* Neutral */
  --color-dark-blue: #3e3c49;
  --color-grayish-blue: #b9b6d3;

  --color-white: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: var(--color-red);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.freetrial {
  max-width: 118rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10rem 0;
}

.freetrial__left {
  flex: 1;
  padding-right: 4rem;
  padding-left: 4rem;
  color: var(--color-white);
}

.freetrial__heading-2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.freetrial__paragraph {
  font-weight: 500;
}

.freetrial__right {
  flex: 1;
  padding-right: 4rem;
}

.freetrial__right > * {
  margin-bottom: 2rem;
}

.freetrial__btn {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: var(--color-white);
  padding: 1.6rem 0;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3;
}

.freetrial__btn--blue {
  background-color: var(--color-blue);
  margin-bottom: 2.5rem;
  box-shadow: 0 1rem 0.3rem rgba(0, 0, 0, 0.2);
}

.freetrial__btn--bold {
  font-weight: 600;
}

.freetrial__btn--green {
  background-color: var(--color-green);
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.freetrial__btn:hover {
  filter: brightness(120%);
}

.form {
  background-color: var(--color-white);
  padding: 4rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
}

.form > * {
  margin-bottom: 1.8rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 2rem 3rem;
  border: 1px solid var(--color-grayish-blue);
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.form__input:focus {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-dark-blue);
  transition: all 0.2s;
}

.form__input:hover {
  filter: brightness(0.95);
}

.freetrial__legal {
  /* font-weight: 300; */
  font-size: 1.1rem;
  color: var(--color-grayish-blue);
  text-align: center;
  margin: 0;
}
.freetrial__link {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-red);
  transition: all 0.2s;
}

.freetrial__link:hover {
  color: var(--color-green);
}

.error {
  text-align: right;
  font-weight: 500;
  font-size: 1.1rem;
  padding-top: 0.6rem;
  color: var(--color-red);

  position: relative;

  outline: #ff7a7a;
}

.error::after {
  content: "!";
  position: absolute;
  top: -4.25rem;
  right: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 700;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.error1 {
  outline: 1px solid var(--color-red);
  color: var(--color-red);
}

.success1 {
  outline: none;
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 55%;
  }

  body {
    height: auto;
  }

  .freetrial {
    flex-direction: column;
    text-align: center;

    padding: 3rem;
  }

  .form {
    padding: 2.5rem;
  }

  .freetrial__left {
    padding-left: 0;
    padding-right: 0;
  }

  .freetrial__right {
    padding-right: 0;
  }

  .freetrial__heading-2 {
    font-weight: 600;
    font-size: 3.4rem;
    margin-bottom: 3rem;
  }

  .freetrial__paragraph {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 8rem;
  }

  .freetrial__legal {
    padding: 0 4rem;
  }

  .freetrial__btn--blue {
    padding: 2.5rem 5rem;
  }
}
